@mixin centerElement($direction:'left'){
    position: absolute;
    @if $direction == 'left'{
        left: 50%;
        transform: translateX(-50%);
    }
    @if $direction == 'top'{
        top: 50%;
        transform: translateY(-50%);
    }   
    @if $direction == 'both'{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    } 
}
