$fontFamil: "SFProDisplay", Arial, sans-serif;
$fontNamefiml :"SF Pro", "Roboto", "Noto Sans", "sans-serif";
$height_Navbar:80px;
$bcg_full_web:#111319;
$color_text:#ffff;
$color_main:#1CC749;
$colotext_header:#7B8088;
$font_size_pc:17px;
$fontIcon:1.7rem;
$font_weight:700;


